{% load static %}

<footer class="footer">
      <div class="footer__inner">
        <div class="footer__left-side">
          <h1 class="footer__left-side-h1">EidosAcademy</h1>
          <p class="footer__left-side-p">
            Eidos Academy — место, где рождаются идеи.
          </p>
        </div>
        <div class="footer_right-side">
          <nav class="footer_right-side--nav">
            <ul>
              <li><a href="{% url 'users:profile_page' request.user.id %}">Главная</a></li>
              <li><a href="{% url 'core:course_list' %}">Курсы</a></li>
              <li><a href="{% url 'articles:main_article' %}">Статьи</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </nav>
          <ul class="footer_right-side--media">
            <li>
              <a href="https://t.me/eidos_academy"
                ><img src="{% static 'assets/telegram.svg' %}" alt="" width="30" height="30"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="{% static 'assets/Youtube.svg' %}" alt="" width="30" height="30"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="{% static 'assets/instagram.svg' %}" alt="" width="30" height="30"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="{% static 'assets/VK.svg' %}" alt="" width="30" height="30"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>