<header class="header">
      <div class="header__inner">
        <div class="header__logo">
          <a href="{% url 'core:landing_page' %}">EidosAcademy</a>
        </div>
        <nav class="header-nav">
          <ul class="nav__list">
            {% if request.user.is_authenticated %}
            <li class="nav__list-item"><a href="{% url 'users:profile_page' request.user.id %}">Главная</a></li>
            {% endif %}
            <li class="nav__list-item"><a href="{% url 'core:course_list' %}">Курсы </a></li>
            <li class="nav__list-item"><a href="#">Статьи</a></li>
          </ul>
        </nav>
        <div class="auth_buttons">
          <a class="auth_buttons__log-in" href="{% url 'users:user_login' %}">войти</a>
          <a href="{% url 'users:user_register' %}">
          <button class="auth_buttnons__log-up">
            Начать
          </button>
            </a>
        </div>
      </div>
    </header>