<header class="header">
      <div class="header__inner">
        <div class="header__logo">
          <a href="/html/landing.html">EidosAcademy</a>
        </div>
        <nav class="header-nav">
          <ul class="nav__list">
            <li class="nav__list-item"><a href="#">Главная</a></li>
            <li class="nav__list-item"><a href="#">Курсы </a></li>
            <li class="nav__list-item"><a href="#">Статьи</a></li>
            <li class="nav__list-item"><a href="#">FAQ</a></li>
          </ul>
        </nav>
        <div class="auth_buttons">
          <a class="auth_buttons__log-in" href="/html/sign_in.html">войти</a>
          <button class="auth_buttnons__log-up">
            <a href="/html/sign_up.html">Начать</a>
          </button>
        </div>
      </div>
    </header>