html,
body {
  background-color: #20202f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

* {
  box-sizing: border-box;
}
/* Header-Settings */

header {
  border-bottom: 1px solid black;
}

.header__inner {
  color: white;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.nav__list {
  display: flex;
  gap: 40px;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: ;
}

.nav__list li a {
  color: #ffffff;
  text-decoration: none;
}

.main_title {
  font-size: 24px;
}

.auth_buttons button {
  color: white;
  background-color: #4a7043;
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.auth_buttons__log-in {
  text-decoration: underline;
  color: white;
  margin: 0;
  padding: 0;
}

.auth_buttnons__log-up a {
  color: white;
  text-decoration: none;
}

.auth_buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.course_detail {
  max-width: 1200px;
  margin: 0 auto;
}

.topics_listed {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  gap: 15px;
}

.topic {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: #1d1f35;
  border-radius: 3px;
}

.topic:hover {
  background-color: #2e3151; /* более светлый оттенок */
  transform: scale(1.05);
}

.topic__leftpart {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.topic__leftpart h3 {
  font-size: 32px;
  color: rgb(197, 193, 193);
}

.topic__rightpart {
  display: flex;
  justify-content: flex-end;
}

.rightpart_left {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 5px;
  color: #999999;
}

.rightpart_right {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.topic_info {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  margin-top: 50px;
}
