{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/course_list_page.css' %}">{% endblock %}

{% block content %}
    <main>
      <section class="courses">
          <div class="courses_inner">
            <h2>Наши курсы:</h2>

            <div class="courses_list">
                <div class="course">
                  <img src="{% static 'assets/dummyimage.svg' %}" alt="">
                  <div class="textinfo__course">
                  <h4>Название курса</h4>
                  <div class="underinfo">
                    <img src="assets/css/Clock.svg" alt="">
                    <p>~10часов</p>
                  </div>
                  </div>
                </div>

                <div class="course">
                  <img src="{% static 'assets/dummyimage.svg' %}" alt="">
                  <div class="textinfo__course">
                  <h4>Название курса</h4>
                  <div class="underinfo">
                    <img src="assets/css/Clock.svg" alt="">
                    <p>~10часов</p>
                  </div>
                  </div>
                </div>

                <div class="course">
                  <img src="{% static 'assets/dummyimage.svg' %}" alt="">
                  <div class="textinfo__course">
                  <h4>Название курса</h4>
                  <div class="underinfo">
                    <img src="assets/css/Clock.svg" alt="">
                    <p>~10часов</p>
                  </div>
                  </div>
                </div>
            </div>
          </div>
      </section>
    </main>
{% endblock %}