{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/lesson.css' %}"> {% endblock %}
{% block content %}
    <main>
      <section class="course_info">
        <div class="course_info__inner">
          <div class="course_info__top">
            <img
              src="{{ course.main_image.url }}"
              alt=""
              class="course_info-img"
              width="230"
              height="230"
            />
            <h2 class="course_info-h2">{{pdd.title}}</h2>
            <p class="course_info-p">{{pdd.title}}</p>
          </div>

          <section class="course_content">
              {{content.essence_html|safe}}
          </section>
          <section class="course-btns">
              <a href="{% url 'core:course_detail' course.id %}">
            <button class="back_to_course">
              <img src="/img/Education.svg" alt="" width="25px" height="25" />
              Вернуться к курсу
            </button>
                  </a>
              {% if is_finished %}
               <button class="mark_as_completed">Вы уже проходили этот урок</button>
              {% else %}
              <a href="{% url 'core:topic_finished' content.id %}"><button class="mark_as_completed">Отметить как пройдено</button></a>
            {% endif %}
              <button class="next_lesson">
              <img src="/img/Next Page.svg" alt="" width="25px" height="25" />
              Следующий урок
            </button>
          </section>
        </div>
      </section>
    </main>
    {% endblock %}