{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/topic_steps.css' %}">
{% endblock %}

{% block content %}
        <main>
          <section class="course_detail">
            <div class="course_detail__inner">
              <div class="downerpart">
                <div class="topic_info">
                    <h2>{{topic.title}}</h2>
                </div>
                  {% for content in contents %}
                <div class="topics_listed">

                  <a href="{% url 'core:lesson_page' content.id %}"> <div class="topic">
                    <div class="topic__leftpart">
                      <img src="/img/Read.svg" alt="" />
                      <h3>{{content.title}}</h3>
                    </div>
                    <div class="topic__rightpart">
                      <div class="rightpart_left">
                        <img
                          src="/img/Clock.svg"
                          alt=""
                          width="30px"
                          height="29px"
                        />
                        <p>10 минут</p>
                      </div>
                      <div class="rightpart_right">
                        <img
                          src="/img/Done.svg"
                          alt=""
                          width="45px"
                          height="45px"
                        />
                      </div>
                    </div>
                  </div>
                      </a>

                </div>
                  {% endfor %}
              </div>
            </div>
          </section>
        </main>
{% endblock %}
