{% extends 'base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}"> {% endblock %}

{% block content %}
    <main>
      <section class="article">
        <div class="article__inner">
          <h2>Статьи Сообщества:</h2>

          <div class="article_list">
              {% for article in articles %}
            <div class="article__card">
              <img src="{{article.main_image.url}}" alt="" />
              <div class="textinfo__article">
                <p class="textinfo__article-topic">Python</p>
                <h4>{{ article.title }}</h4>
                <div class="underinfo">
                  <img src="/img/Clock.svg" alt="" />
                  <p>~{{article.ap_time}} минут</p>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </section>
    </main>


{% endblock %}
