{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile_page.css' %}"> {% endblock %}
{% block content %}
    <main>
      <section>
        <div class="profile">
        <div class="profile__inner">
          <div class="main__info">
            <div class="nameandavatar_section">
            <img src="{% static 'assets/Profile.svg' %}" alt="">
            <h2>{{request.user.username}}</h2>
            </div>

            <p>В данный момент изучает: {{ profile.purpose_language }}</p>

              <a href="{% url 'users:settings_page' user.id %}"><img src="{% static 'assets/settings.svg' %}" alt="" id="settings_button"></a>
          </div>
        </div>

        <h2 class="progress__title">Прогресс</h2>

        {% for course in courses_studied %}
          <div class="course__studied">
          <div class="course__studied__leftpart">
          <img src="{{ course.main_image.url }}" width="92px" height="92px">

          <div class="title__subinfo">
            <h2>{{course.title}}</h2>
            <p>{{ course.blocks.count }} блоков </p>
          </div>

          <svg width="85" height="85" xmlns="http://www.w3.org/2000/svg"><circle cx="42.5" cy="42.5" r="41.5" fill="none" stroke="white" stroke-width="2"/></svg>
          </div>
            <a href="{% url 'core:course_detail' course.id %}"><button type="submit">Учиться</button></a>

        </div>{% endfor %}


        </div>

        </div>




      </section>
    </main>
{% endblock %}