{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/settings_page.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
      <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <h2 class="main_h2">Настройки профиля</h2>
        <div class="avatar_section">
            {% if object.avatar %}
          <img src="{{object.avatar.url}}" alt="" width="120px"/>
            {% else %}
            <img src="  " alt="" width="120px"/>
            {% endif %}
          <div class="avatar_change">
              <input type="file" name="avatar" accept="image/*">
          </div>
        </div>
        <div class="City_section section">
            <label for="city" class="label city-label">Страна, Город </label>
          <input
          id="city"
          name="country_of_origin"
          type="text"
            class="City_section-input input"
            placeholder="Введите свою Страну"
          value="{{ form.country_of_origin.value }}"
          />
        </div>
        <div class="Daily-Goal-Minutes_section section">
            <label for="GoalMinutes" class="goalMinutes-label label">Дневная цель обучения в минутах:</label>
          <input
          id="GoalMinutes"
          name="daily_goal_minutes"
          type="number"
            class="Daily-Goal-Minutes_section-input input"
            placeholder="0"
          value="{{ form.daily_goal_minutes.value }}"
          />
        </div>
        <div class="btn-section">
            <button class="btn btn-section-accept" type="submit">Сохранить</button>
            <button class="btn btn-section-reject" type="reset">Сбросить</button>
        </div>
        </form>
      </div>
    </main>
{% endblock %}
