{% extends 'base/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}

{% block content %}
    <main>
      <section class="sign_in">
        <div class="sign_in__inner">
          <div class="sign_in__information">
            <h1 class="sign_in__information-h1">Регистрация</h1>
            <p class="sign_in__information-p">
              Или <a href="{% url 'users:user_login' %}">войди</a> в уже существующий аккаунт
            </p>
          </div>

          <div class="login">
            <form action="" class="login__form" method="post">
              {% csrf_token %}
              <label class="login-label login__username" for="username"
                >Имя Пользователя</label
              >
              <input
                class="login__input login__input--username"
                type="text"
                id="username"
                placeholder=""
                name="username"
              />

              <label class="login-label login__label-email" for="email"
                >Введи e-mail</label
              >
              <input
                class="login__input login__input--email"
                type="email"
                id="email"
                placeholder=""
                name="email"
              />

              <label class="login-label login-label-password" for="password "
                >Пароль</label
              >
              <input
                class="login__input login__input--password"
                type="password"
                id="password"
                placeholder=""
                name="password1"
              />

              <label
                class="login-label login-label-password-confirm"
                for="password-confirm"
                >Подтверждение Пароля</label
              >
              <input
                class="login__input login__input--password-confirm"
                type="password"
                id="password-confirm"
                placeholder=""
                name="password2"
              />



              <button type="submit" class="login__button">Войти</button>


            </form>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
